*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:  'Helvetica', sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
article {
    text-align: start;
    width: 37rem;
    display: flex
;
    flex-direction: column;
}
article h1 {
    font-size: 42px;
    color: rgb(58, 52, 52);
}

article p {
    font-size: 1.2rem;
    padding: 13px 0px;
    line-height: 31px;
    color: rgb(5, 94, 94);
}

@media screen and (max-width: 768px) {
    article{
        width: 90%;
        padding: 0 12px;
    }
}
p.loading {
    font-size: 18px;
    color: #007bff;
    font-weight: bold;
}

.no-result {
    color: red;
    font-size: 16px;
}

.result-container {
    font-size: 16px;
}
        /* Preloader Styles */
        .preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999; /* Always on top */
            transition: opacity 0.5s ease; /* Smooth fade-out */
        }
  
        .preloader.hidden {
            opacity: 0; /* Fade out effect */
            visibility: hidden; /* Hide after fade-out */
        }
  
        .preloader img {
            width: 250px;
            height: auto; 
            animation: fadein 1.5s ease-in-out infinite;
            height: 250px;
            object-fit: cover;
           
        }
  
        @keyframes fadein {
            0%, 100% {
                opacity: 1;
            }
            50% {
                opacity: 0.5;
            }
        }
  
        /* Content Wrapper */
        .content-wrapper {
            display: none; /* Hide content initially */
            opacity: 0;
            animation: fadeinContent 0.5s ease-in-out forwards;
        }
  
        @keyframes fadeinContent {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
  
        /* Example Navbar */
        .navbar {
          
            color: white;
            padding: 10px 20px;
            text-align: center;
        }